@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.detail {
  padding-top: 80px;
  padding-bottom: 120px;
  font-family: Monsterrat, sans-serif;
  font-weight: 400;

  .container {

    .breadcrumbs {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      .breadcrumbs-pre-title {
        font-size: 16px;
        color: #b9d5fd;
        margin-right: 8px;
        text-decoration: none;
        cursor: pointer;
      }

      span {
        font-size: 14px;
        color: #b9d5fd;
        margin-right: 8px;
      }

      .breadcrumbs-title {
        font-weight: 500;
        font-size: 16px;
        color: $light-blue-text-color;
      }
    }

    .detail-product {

      .detail-product-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 60px;

        .detail-product-header-info {
          max-width: 607px;

          .detail-product-header-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 38px;
            line-height: 130%;
            color: $light-blue-text-color;
            margin-bottom: 40px;
            margin-top: 0;
          }

          .detail-product-header-description {
            font-family: "Monsterrat", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: $light-blue-text-color;
          }
        }

        .detail-product-header-actions {
          .detail-image {
            border-radius: 5px;
            width: 527px;
            height: 320px;
            background-size: cover;
            background-position: center;
          }
        }
      }

      .detail-product-body {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .detail-content-info {

          .share-product {
            display: flex;
            align-items: center;
            font-family: Monsterrat, sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: $light-blue-text-color;
            margin-bottom: 60px;
            padding-top: 40px;

            .share-socials {
              margin-left: 20px;

              a:not(:last-child) {
                margin-right: 13px;
              }
            }
          }
        }

        .detail-content-actions {
          padding-top: 60px;

          .detail-related-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 26px;
            color: $light-blue-text-color;
            margin-bottom: 20px;
            text-align: end;
            margin-right: 98px;
          }

          .detail-product-related {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: end;
            gap: 60px;
          }
        }
      }
    }
  }
}
