@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.detail {
  padding-top: 80px;
  padding-bottom: 120px;
  font-family: Monsterrat, sans-serif;
  font-weight: 400;

  .container {

    .breadcrumbs {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      .breadcrumbs-pre-title {
        font-size: 16px;
        color: #b9d5fd;
        margin-right: 8px;
        text-decoration: none;
        cursor: pointer;
      }

      span {
        font-size: 14px;
        color: #b9d5fd;
        margin-right: 8px;
      }

      .breadcrumbs-title {
        font-weight: 500;
        font-size: 16px;
        color: $light-blue-text-color;
      }
    }

    .detail-product {

      .detail-product-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 60px;

        .detail-product-header-info {
          max-width: 607px;

          .detail-product-header-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 38px;
            line-height: 130%;
            color: $light-blue-text-color;
            margin-bottom: 40px;
            margin-top: 0;
          }

          .detail-product-header-description {
            font-family: "Monsterrat", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: $light-blue-text-color;
          }
        }

        .detail-product-header-actions {
          .detail-image {
            border-radius: 5px;
            width: 527px;
            height: 320px;
            background-size: cover;
            background-position: center;
          }
        }
      }

      .detail-product-body {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .detail-content-info {

          .share-product {
            display: flex;
            align-items: center;
            font-family: Monsterrat, sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: $light-blue-text-color;
            margin-bottom: 60px;
            padding-top: 40px;

            .share-socials {
              margin-left: 20px;

              a:not(:last-child) {
                margin-right: 13px;
              }
            }
          }

          .comments {

            .comments-title {
              @include head-lora-38;
              margin-bottom: 20px;
            }

            .comments-description {
              font-family: Monsterrat, sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: $dark-blue-text-color;

              a {
                color: $light-blue-text-color;
                text-decoration: none;
              }
            }

            .comments-form {
              padding-top: 20px;

              .comment-textarea {
                border: 2px solid $light-blue-text-color;
                border-radius: 3px;
                padding: 20px;
                width: 818px;
                height: 248px;
                background: #fff;
                box-sizing: border-box;
                outline: none;
                margin-bottom: 20px;
                font-family: Monsterrat, sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: $dark-blue-text-color;

                &::placeholder {
                  color: #a8aba7;
                }
              }

              .button {
                width: 422px;
              }
            }

            .comments-items {
              margin-top: 60px;
              padding-bottom: 20px;

              .comments-item {
                font-family: "Monsterrat", sans-serif;
                max-width: 854px;
                margin-bottom: 40px;

                .comments-item-header {
                  display: flex;
                  align-items: start;
                  margin-bottom: 15px;

                  .comments-item-avatar {
                    background-position: center;
                    background-size: cover;
                    width: 60px;
                    height: 60px;
                  }

                  .comments-item-info {
                    font-weight: 600;
                    margin-left: 26px;

                    .comments-item-info-name {
                      font-size: 18px;
                      color: $light-blue-text-color;
                      margin-bottom: 10px;
                    }

                    .comments-item-info-date {
                      font-size: 14px;
                      color: #bebebe;
                    }
                  }
                }

                .comments-item-body {

                  .comments-item-text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: $dark-blue-text-color;
                    margin-bottom: 39px;
                  }

                  .comments-item-actions {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .comments-item-actions-reaction {
                      display: flex;
                      align-items: center;
                      cursor: pointer;

                      span {
                        margin-right: 3px;
                      }

                      &.active {
                        color: $light-blue-text-color;

                        svg path {
                          stroke: $light-blue-text-color;
                        }
                      }
                    }

                    .comments-item-actions-complaint {
                      cursor: pointer;
                    }
                  }
                }
              }
            }

            .comments-more {
              display: flex;
              align-items: center;

              span {
                margin-right: 10px;
                font-family: Monsterrat, sans-serif;
                font-weight: 500;
                font-size: 20px;
                color: #709fdc;
              }
            }
          }
        }

        .detail-content-actions {
          padding-top: 60px;

          .detail-related-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 26px;
            color: $light-blue-text-color;
            margin-bottom: 20px;
            text-align: end;
            margin-right: 98px;
          }

          .detail-product-related {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: end;
            gap: 60px;
          }
        }
      }
    }
  }
}
