<section class="main">
  <div class="container">
    <owl-carousel-o [options]="customOptions" #owlCar>
      <ng-template carouselSlide>
        <div class="carousel-item">
          <a class="move-backward" (click)="owlCar.prev()">
            <img src="assets/images/carousel/previous.png" alt="Previous">
          </a>
          <div class="main-text">
            <div class="main-pre-title">
              Предложение месяца
            </div>
            <h1 class="main-title">
              Продвижение в Instagram для вашего бизнеса <span>-15%</span>!
            </h1>
            <button class="button">Подробнее</button>
          </div>
          <div class="main-image">
            <img src="assets/images/carousel/main1.png" alt="Main">
          </div>
          <a class="move-forward" (click)="owlCar.next()">
            <img src="assets/images/carousel/next.png" alt="Next">
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-item">
          <a class="move-backward" (click)="owlCar.prev()">
            <img src="assets/images/carousel/previous.png" alt="Previous">
          </a>
          <div class="main-text">
            <div class="main-pre-title">
              Акция
            </div>
            <h1 class="main-title">
              Нужен грамотный <span>копирайтер</span>?
            </h1>
            <div class="main-description">
              Весь декабрь у нас действует акция на работу копирайтера.
            </div>
            <button class="button">Подробнее</button>
          </div>
          <div class="main-image">
            <img src="assets/images/carousel/main2.png" alt="Main">
          </div>
          <a class="move-forward" (click)="owlCar.next()">
            <img src="assets/images/carousel/next.png" alt="Next">
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carousel-item">
          <a class="move-backward" (click)="owlCar.prev()">
            <img src="assets/images/carousel/previous.png" alt="Previous">
          </a>
          <div class="main-text">
            <div class="main-pre-title">
              Новость дня
            </div>
            <h1 class="main-title">
              <span>6 место </span>в ТОП-10 SMM-агенств Москвы!
            </h1>
            <div class="main-description">
              Мы благодарим каждого, кто голосовал за нас!
            </div>
            <button class="button">Подробнее</button>
          </div>
          <div class="main-image">
            <img src="assets/images/carousel/main3.png" alt="Main">
          </div>
          <a class="move-forward" (click)="owlCar.next()">
            <img src="assets/images/carousel/next.png" alt="Next">
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="services">
  <div class="container">
    <div class="services-title">Услуги, которые мы предлагаем</div>
    <div class="services-products">
      <div class="services-product-card" *ngFor="let service of services">
        <div class="services-product-card-image" style="background-image: url('/assets/images/services/{{service.image}}')"></div>
        <div class="services-product-card-name">{{ service.name }}</div>
        <div class="services-product-card-description">
          {{service.description}}
        </div>
        <div class="services-product-card-info">
          <div class="services-product-card-price">
            От {{service.price}}₽
          </div>
          <div class="services-product-card-action">
            <button class="button">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
