@import "../../../assets/styles/variables";

.main {
  padding-bottom: 60px;

  .carousel-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      background-color: #B9D5FD;
      position: absolute;
      top: 0;
      left: 0;
      width: 703px;
      height: 700px;
      border-radius: 0 18px 852px 0;
      z-index: 10;
    }

    .move-backward {
      margin-left: 10px;
      z-index: 15;
    }

    .main-text {
      margin-left: 55px;
      z-index: 15;

      .main-pre-title {
        font-family: Monsterrat, sans-serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: $light-blue-text-color;
      }

      .main-title {
        font-family: Lora, sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        color: #fff;
        margin: 0;
        //width: 610px;

        span {
          color: $light-blue-text-color;
        }
      }

      .main-description {
        margin-top: 20px;
        padding-bottom: 10px;
        font-family: Monsterrat, sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: #fff;
      }

      .button {
        margin-top: 40px;
        width: 163px;
      }
    }

    .main-image {

    }

    .move-forward {
      position: absolute;
      right: 11px;
    }
  }
}

.services {
  padding: 60px 0;

  .container {

    .services-title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: #709fdc;
      margin-bottom: 40px;
    }

    .services-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 26px;

      .services-product-card {
        width: 290px;
        height: 498px;
        box-sizing: border-box;

        .services-product-card-image {
          border-radius: 5px;
          width: 291px;
          height: 291px;
          background-size: cover;
          background-position: center;
        }

        .services-product-card-name {
          font-family: "Monsterrat", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: $light-blue-text-color;
          margin-top: 15px;
          margin-bottom: 10px;
        }

        .services-product-card-description {
          font-family: "Monsterrat", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text-color;
          height: 72px;
          width: 286px;
        }

        .services-product-card-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 33px;

          .services-product-card-price {
            font-family: "Monsterrat", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $light-blue-text-color;
          }

          .services-product-card-action {
            .button {
              width: 163px;
            }
          }
        }
      }
    }
  }
}

.about {
  padding: 60px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about-info {

      .about-title {
        font-family: Lora, sans-serif;
        font-weight: 400;
        font-size: 38px;
        color: $light-blue-text-color;
        margin-bottom: 20px;
      }

      .about-description {
        font-family: Monsterrat, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #1e1a2b;
        margin-bottom: 40px;
        max-width: 633px;

        span {
          font-weight: 500;
        }
      }

      .advantages-title {
        font-family: Lora, sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 130%;
        color: $light-blue-text-color;
        margin-bottom: 20px;
      }

      .advantages-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 71px;
        grid-row-gap: 20px;

        .advantages-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .advantages-item-number {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 50%;
            background-color: #B9D5FD;
            width: 40px;
            height: 40px;
            color: #709fdc;
            cursor: pointer;
            transition: .5s;

            span {
              font-family: Lora, sans-serif;
              font-weight: 500;
              font-size: 50px;
              line-height: 105%;
            }
          }

          .advantages-item-text {
            font-family: Monsterrat, sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #1e1a2b;
            width: 256px;
            margin-left: 20px;

            span {
              font-weight: 500;
            }
          }

          &:hover .advantages-item-number {
            background-color: #5781be;
            color: #B9D5FD;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.popular {
  padding: 60px 0;

  .container {

    .popular-title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: $light-blue-text-color;
      margin-bottom: 40px;
    }

    .popular-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 24px;
    }

    .popular-detail {
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;

      .popular-detail-container {
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        span {
          font-family: Monsterrat, sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #709fdc;
          margin-right: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

.reviews {
  padding: 60px 0;

  .container {

    .reviews-title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: $light-blue-text-color;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;

      .review-item {
        width: 396px;
        height: 267px;
        border: 2px solid $light-blue-text-color;
        border-radius: 5px;
        padding: 30px;
        box-sizing: border-box;

        .review-item-head {
          display: flex;
          align-items: center;

          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-item-name {
            font-family: "Monsterrat", sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $light-blue-text-color;
          }
        }

        .review-item-text {
          margin-top: 15px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $dark-blue-text-color;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }
}

.contacts {
  padding-top: 60px;
  padding-bottom: 120px;

  .container {
    display: flex;
    align-items: start;

    .contacts-info {
      margin-left: 26px;

      .contacts-title {
        font-family: Lora, sans-serif;
        font-weight: 400;
        font-size: 38px;
        color: #709fdc;
        margin-bottom: 20px;
      }

      .contacts-blocks {

        .contacts-block {
          margin-bottom: 20px;
          font-family: "Monsterrat", sans-serif;

          .contacts-head {
            font-weight: 500;
            font-size: 20px;
            color: $light-blue-text-color;
            margin-bottom: 10px;
          }

          .contacts-body {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $dark-blue-text-color;
            display: block;
            text-decoration: none;
          }

          &.contacts-social {
            .contacts-body a:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
