html, body {
  margin: 0;
  padding: 0;
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  text-align: center;
  padding: 15px 20px;
  background: #709fdc;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: background-color .3s linear;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &:hover {
    background: #5781be;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $light-blue-text-color;
  border-radius: 3px;
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $dark-blue-text-color;
  outline: none;

  &::placeholder {
    color: #a8aba7;
  }
}

.mat-menu-item {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $dark-blue-text-color;
  }
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px 10px;
  background: transparent;
  border: 1px solid #ffffff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: relative;
  z-index: 999;
  margin-top: -38px;
}

.detail-text {
  max-width: 818px;

  h1 {
    margin: 0;
    padding: 0;
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    color: $light-blue-text-color;
    max-width: 607px;
    margin-bottom: 40px;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: "Monsterrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $dark-blue-text-color;
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: "Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $light-blue-text-color;
  }
}
